.idea
db
node_modules
aws
rpi_router.log
outgoing_queue_data
incoming_queue_data
endpoint_queue_data
coverage

router_log.txt*
.env-test
package-lock.json
.nyc_output
.vscode
.env
.clinic

ttyV0
ttyV1
data.db
